.wrapper {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & h2 {
    text-align: center;
    margin-top: 100px;
  }

  .link {
    text-align: center;
  }
}
