@import "mixins";
@import "font-family.scss";

body {
  min-height: 100%;

  & a {
    font-family: "Poppins", Arial, sans-serif;
    text-decoration: none;
    color: black;
  }

  & h2 {
    font-family: "Poppins", Arial, sans-serif;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $purpleGradient;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
